html {
    color: white;
    min-width: 1280px;
    margin: auto;
    align-content: center;
    background-color: gray;
}

h1 {
    text-decoration: none;
    color: white;
}

#top {
    height: 176px;
    background-color: rgba(132,142,138,1);
    border: 2pt black;
    border-style: solid solid none solid;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#name {
    text-align: center;
    width: 200px;
    background-color: rgba(75,114,97,1);
    font-size: 48pt;
    border: 2pt solid black;
    font-family: letter-gothic-std, monospace;
    font-weight: 100;
    margin: auto;
    float: left;
    padding-left: 15px;
    padding-right: 25px;
    margin-top: 10px;
}

nav.navigation {
    display: inline-flex;
    float: right;
    margin-top: 15px;
    border: 1.5pt black;
    border-style: none none none solid;
}

nav.social {
    float: right;
    clear: right;
    display: inline-flex;
    margin-top: 80px;
}

nav.social img {
    max-height: 30px;
}

nav.navigation a {
    color: white;
    border: 1.5pt black;
    border-style: solid solid solid none;
    background-color: rgba(75,114,97,1);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
    font-family: letter-gothic-std, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 18pt;
}

#bottom {
    background-color: rgb(73,92,107);
    padding: 36px;
    border: 2pt solid black;
}

#scrollBox {
    width: 340px;
    height: 622px;
    border: 2pt solid black;
    overflow: auto;
    /margin-bottom: 36px;
    float: left;
}

#imgBox {
    width: 323px;
    height: 200px;
    border: 2pt black;
    margin-right: -30px;
    overflow: hidden;
}

#imgBox img {
    width: 100%;
    filter: brightness(75%);
    transition: 0.5s;
}

#imgBox img:hover {
    transition: 0.5s;
    filter: brightness(100%);
}

#viewBox {
    background-color: rgba(137,148,157,1);
    height: 550px;
    border: 2pt black;
    border-style: solid solid solid none;
    width: auto;
    padding-top: 36px;
    padding-bottom: 36px;
}

#viewBox img {
    display: block;
    margin: auto;
    max-width: 70%;
    max-height: 550px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#copyright {
    position: relative;
    float: right;
    color: black;
    left: 32px;
}
